apiVersion: apps/v1
kind: Deployment
metadata:
  name: payment-service
spec:
  template:
    spec:
      containers:
        - name: payment-service
          volumeMounts:
            - name: postgres-credentials-volume
              mountPath: /workspace/secrets/postgres            
      volumes:
        - name: postgres-credentials-volume
          secret:
            secretName: postgres-payment-credentials
        