apiVersion: apps/v1
kind: Deployment
metadata:
  name: ticket-service
spec:
  template:
    spec:
      containers:
        - name: ticket-service-container
          env:
            - name: SPRING_PROFILES_ACTIVE
              value: staging