spring:
  config:
    import: configtree:/workspace/secrets/*/
  gateway:
    server:
      webflux:
        routes:
          - id: auth-service
            uri: http://auth-service/api/auth/login
            predicates:
              - Path=/api/auth/**
          - id: ticket-service
            uri: http://ticket-service/api/flights
            predicates:
              - Path=/api/flights/**
          - id: booking-service
            uri: http://booking-service/bookings
            predicates:
              - Path=/bookings/**

  data:
    redis:
      host: airline-redis
