spring:
  gateway:
    server:
      webflux:
        routes:
          - id: auth-service
            uri: http://auth-service/api/auth/login
            predicates:
              - Path=/api/auth/**
          - id: ticket-service
            uri: http://ticket-service/api/flights
            predicates:
              - Path=/api/flights/**
          - id: booking-service
            uri: http://booking-service/bookings
            predicates:
              - Path=/bookings/**
  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: http://auth-service:9005/api/auth/.well-known/jwks.json
  data:
    redis:
      host: airline-redis
