apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: edge-service
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: edge-service
  maxReplicas: 15
  minReplicas: 3
  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: 75