apiVersion: apps/v1
kind: Deployment
metadata:
  name: edge-service
spec:
  template:
    spec:
      containers:
        - name: edge-service
          resources:
            requests:
              memory: "756Mi"
              cpu: "200m"
            